{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet"> <!-- 追記 -->
</head>
<body>
    <h1 class="font-serif text-5xl font-bold text-blue-600 my-6">
        {{ title }}
    </h1>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full my-6">
        {{ button_body }}
    </button>
</body>
</html>